.homeContainer{
    margin-bottom: 30px;
    padding-top: 20px;
    /* background-color: rgba(28, 24, 41, 0.753) */
}

.datatable{
    width: 90%;
}

.user_failed_container{
    text-align: center;
    margin: auto;
    display: flex;

}


.user_failed{
    /* text-align: center; */
    display: flexbox;
    width: 80%;
    
}