.container_register{
    text-align: center;
    /* margin: auto; */
}

.form_register{
    background-color: rgba(7, 7, 110, 0.795);    
    width: 350px;
    /* height: 400px; */
    padding: auto;
    padding-bottom: 10px;
    margin: auto;
    border: solid 1px;
}

.input_form{
    display: flex;
    margin: auto;
    width: 250px;
    height: 30px;
    /* margin-top: 5px; */
    margin-bottom: 5px;
}
.input_form_select{
    display: flex;
    margin: auto;
    width: 258px;
    height: 35px;
    /* margin-top: 5px; */
    margin-bottom: 5px;
}

.title_input{

    margin-left: 45px;
    display: flex;
    /* text-align: left; */
}

.err{
    text-align: left;
    color: rgba(255, 51, 0, 0.774);
    margin-top: -15px;
    /* margin-bottom: -15px; */
}

.button_register{
    width: 70px;
    margin: auto;
    margin-top: 35px;
    border: solid 1px;
    background-color: rgba(216, 216, 230, 0.349);
    color: rgb(8, 1, 1);
}
.button_register:hover{
background-color: rgba(5, 5, 36, 0.349);
color: rgb(238, 227, 227);
}
.register_text {
    margin: auto;
    margin-top: 20px;
    color: cornsilk;
}

.link_login{
    color: crimson;
}